<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>verification</h2>
    <h3>Enter OTP</h3>
    <form method="post" action="{% url 'emailVerification:verify'%}">
        {% csrf_token %}
        <input type="text" name="code" placeholder="OTP">
        <button type="submit">Send</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>
